<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzhijian.pgvectordemo.mapper.FileKnowledgeBaseMapper">

    <resultMap id="BaseResultMap" type="com.huzhijian.pgvectordemo.domain.FileKnowledgeBase">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fileId" column="file_id" jdbcType="BIGINT"/>
            <result property="knowledgeBaseId" column="knowledge_base_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="failReason" column="fail_reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_id,knowledge_base_id,
        status,fail_reason
    </sql>
</mapper>
